.logo{
    cursor: pointer;
}
.spacer {
    flex: 1 1 auto; /* toolbar uses flexbox by default and this will make sure that sapcer element takes all th remaining space between other element*/ 
}
#avatar{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}