<div class="outer">
  <div class="form-div">
      <img src="https://d3okk28g4aa4th.cloudfront.net/image/data/logo-white.png" class="logo" title="ZiffyHomes" alt="ZiffyHomes">
    <form action="index.html" class="box" method="post">
      <h1>Management 
          Login </h1><br>
       <p>Please enter your username and password to login to ZiffyHomes Management account</p>   
      <input type="email" name="" placeholder="Username">
      <input type="password" name="" placeholder="Password">
      <input type="submit" value="Login">
      <a>Forgot Password?</a>
    </form>
  </div>
</div>

 <!-- <div class="outer">
  <div class="form-div">
      <mat-card>
          <form class="example-form">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Favorite food" value="Sushi">
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Leave a comment"></textarea>
              </mat-form-field>
            </form>
            <button mat-button>Click me!</button>

    </mat-card>
  </div>
 </div> -->


